In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(data=np.random.randn(10, 4), columns=list('ABCD'))

In [5]:
df

          A         B         C         D
0  1.372769 -0.475498  0.543160 -0.083551
1  1.359107 -0.342701  0.242670  0.009839
2  0.337084 -0.179231  1.271002  0.447248
3  0.618828  0.776986  0.340414 -1.634724
4  0.939089 -0.820099  1.675942 -1.487229
5  0.318882  0.656177 -0.003200  0.135995
6 -2.119079 -0.467179 -1.008361 -0.564392
7  0.795817  1.430929  0.751450 -1.621591
8 -0.306353  0.194539  1.154617 -0.577542
9  0.841456 -0.543933 -0.074932  0.165714

In [8]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=list('abcd'), columns=['one', 'two'])

In [9]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [10]:
df.describe()

AttributeError: 'DataFrame' object has no attribute 'decribe'

In [11]:
df.describe()

AttributeError: 'DataFrame' object has no attribute 'describle'

In [12]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [14]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [19]:
data = pd.DataFrame({'qu1': [1, 3, 4, 3, 4], 'qu2': [2, 3, 1, 2, 3], 'qu3': [1, 5, 2, 4, 4]})

In [20]:
data

   qu1  qu2  qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [21]:
result = data.apply(pd.value_counts).fillna(0)

In [22]:
result

   qu1  qu2  qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [24]:
!type example / exl.csv

The syntax of the command is incorrect.

In [28]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv("ex.csv")

In [30]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
import sys

In [32]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [33]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [34]:
data.to_csv(sys.stdout, na_rep='NAN')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NAN
1,two,5,6,NAN,8,world
2,three,9,10,11.0,12,foo

In [35]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [37]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [38]:
result = pd.read_csv('ex.csv', na_values=['NUll'])

In [39]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [41]:
result = pd.read_csv('ex.csv', na_values='NAN')

In [42]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [43]:
pd.null(result)

AttributeError: module 'pandas' has no attribute 'null'

In [44]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [47]:
!type ex.csv

something,a,b,c,d,message
one,1,2,3,4,
two,5,6,,8,world
three,9,10,11,12,foo

In [48]:
import csv

In [50]:
f = open("ex.csv")

In [51]:
f

In [52]:
reader = csv.reader(f)

In [54]:
for line in reader:
    print(line)

['something', 'a', 'b', 'c', 'd', 'message']
['one', '1', '2', '3', '4', '']
['two', '5', '6', '', '8', 'world']
['three', '9', '10', '11', '12', 'foo']

In [55]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [56]:
header, values = lines[0], lines[1:]

In [57]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [58]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [59]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [61]:
f = open("ex7.csv")

In [62]:
reader = csv.reader(f,dialect=my_dialect)

In [63]:
reader = csv.reader(f,delimiter= '|')

In [64]:
reader

In [75]:
with open('mydata.csv','w') as f:
    writer = csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','there'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [76]:
with open("mydata.csv") as f:
    lines = list(csv.reader(f))

In [77]:
from pprint import pprint

In [78]:
pprint(lines)

[['one;two;there'], ['1;2;3'], ['4;5;6'], ['7;8;9']]

In [3]:
import json
obj ='''
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}'''

In [5]:
result = json.loads(obj)

In [6]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [7]:
asjson = json.dumps(result)

In [8]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [9]:
import pandas as pd
import numpy as np

In [11]:
siblings = pd.DataFrame(result['siblings'])

In [12]:
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [13]:
siblings = pd.DataFrame(result['siblings'],columns = ['name','age'])

In [14]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [15]:
!type example.json

{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}

In [17]:
!clear

'clear' is not recognized as an internal or external command,
operable program or batch file.

In [19]:
data = pd.read_json('example.json')

In [20]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\13924\appdata\local\programs\python\python37\lib\site-packages (4.8.0)

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'c:\users\13924\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [22]:
!pip install beautifulsoup4 html5lib

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ------------------------------------ 128.2/128.2 KB 943.3 kB/s eta 0:00:00
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 KB 3.3 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: six>=1.9 in c:\users\13924\appdata\roaming\python\python37\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\13924\appdata\local\programs\python\python37\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: soupsieve, html5lib, beautifulsoup4
Successfully installed beautifulsoup4-4.11.1 html5lib-1.1 soupsieve-2.3.2.post1

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'c:\users\13924\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.